version: "3.9"

services:
  api:
    build: .
    ports:
      - "5000:8080"
    depends_on:
      - db
    environment:
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=SentimentDb;User Id=sa;Password=YourStrong@Password;TrustServerCertificate=True
      - Gemini_ApiKey=${GEMINI_API_KEY}
    restart: always

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "YourStrong@Password"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    restart: always
